body {
    background-color: #222831;
    color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

nav {
    display: flex;
    top: 0;
    position: sticky;
    background-color: #00ADB5;
    height: 40px;
    font-size: 1.2rem;
    border-bottom: 4px solid #393E46;
}

nav>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

li{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #393E46;
    text-shadow: 1px 1px #EEEEEE;
}

.active {
    border-bottom: 2px #EEEEEE solid;
}

li:hover {
    text-shadow: 1.2px 1.2px #EEEEEE;
    transform: scale(1.1);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#authform {
    margin-top: 4rem;
    background-color: #393E46;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 5px;
    box-shadow: 4px 4px #00ADB5;
    color: #EEEEEE;
    text-shadow: 3px 3px #222831;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-shadow: 4px 4px #222831;
    border-radius: 7px;
    box-sizing: border-box;
  }

.bttn {
    width: 15rem;
    margin-top: 2rem;
    padding: 15px;
    text-decoration: none;
    color: #393E46;
    background-color: #00ADB5;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 3px 3px #EEEEEE;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bttn:hover {
    size: 110%;
    transform: scale(1.1)
}

#image--upload {

}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.card {
    vertical-align: middle;
    color: #393E46;
    border: 3px solid #EEEEEE;
    text-shadow: 1px 1px #EEEEEE;
    background-image: url("img/kachow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    box-shadow: 4px 4px #393E46;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#commentname {
    font-weight: bold;
}

#commenttext {
    padding-left: 10px;
}

input {
    font-size: large;
}

#imgtitle {
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 3px;
}