body {
    background-color: #222831;
    color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

nav {
    display: flex;
    top: 0;
    position: sticky;
    gap: auto;
    align-items: center;
    padding: 5px;
    background-color: #00ADB5;
    height: 50px;
    font-size: 1.2rem;
}

nav>ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

li {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #393E46;
    text-shadow: 1px 1px #EEEEEE;
}

.active {
    border-bottom: 2px #EEEEEE solid;
}

li:hover {
    text-shadow: 1.2px 1.2px #EEEEEE;
    transform: scale(1.1);
}

.nav-index {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.nav-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

main {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

#welcome-card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 50px;
}

#welcome-text {
    text-align: center;
    width: 33%;
}

#authform {
    margin-top: 4rem;
    background-color: #393E46;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 5px;
    box-shadow: 4px 4px #00ADB5;
    color: #EEEEEE;
    text-shadow: 3px 3px #222831;
}

input[type="submit"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-shadow: 4px 4px #222831;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

.bttn {
    width: 15rem;
    margin-top: 2rem;
    padding: 15px;
    text-decoration: none;
    color: #393E46;
    background-color: #00ADB5;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 3px 3px #EEEEEE;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bttn:hover {
    size: 110%;
    transform: scale(1.1)
}

#image--upload {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #393E46;
    box-shadow: 4px 4px #00ADB5;
    color: #EEEEEE;
    text-shadow: 3px 3px #222831;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 50;
    width: 100%;
    background-color: #00ADB5;
}

footer>a {
    text-decoration: none;
    color: #393E46;
    text-shadow: 1px 1px #EEEEEE;
    transition: 0.3s ease-in-out;
}

footer>a:hover {
    text-shadow: 1.2px 1.2px #EEEEEE;
    transform: scale(1.1);
}

.card {
    display: flex;
    vertical-align: middle;
    color: #393E46;
    border: 3px solid #EEEEEE;
    text-shadow: 1px 1px #EEEEEE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    box-shadow: 4px 4px #393E46;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

.no-picture {
    background-image: url('img/kachow.jpg');
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input {
    font-size: large;
}

#imgtitle {
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 3px;
}

.comment-text {
    width: 500px;
}

.comment-btn {
    width: 50px;
}